<div class="main-container">
    <div class="menu-container">

        <!-- Header toolbar design starts -->

        <mat-toolbar color="primary" class="toolbarDesign">

            <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="left_icon">
                            <!-- <img class="bit-coin-icon" src="./../../../assets/images/lefties.png"> -->
                            <i class="material-icons" >chevron_left</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
            <span>
                <h1 class="bit-coin header">
                    <mat-icon>
                        <div class="left_icon1">
                        <img class="bit-coin-icon" src="./../../../assets/images/logo_@3x.png">
                        </div>
                    </mat-icon>

                </h1>
                </span>
            <div class="center">
                入出金
            </div>
            <div class="right">
                入出力装置
            </div>


            <div *ngIf="mobileQuery.matches">
                <mat-icon>
                    <img class="qr-code-icon" src="./../../../assets/images/QR_icon.svg.png">
                </mat-icon>
            </div>

        </mat-toolbar>

        <!-- Header toolbar design ends -->

        <!-- second toolbar design starts -->

        <mat-toolbar class="toolbarSecond">
            <div class="secondPoint">
                <mat-toolbar-row>
                    <span>
                    <mat-icon>
                    <div class="circle">
                        <!-- <img class="bit-coin-icon" src="./../../../assets/images/lefties.png"> -->
                        <i class="material-icons orange600" style="font-size: 75px; margin-left: 60px; margin-top: 143px;">
                            panorama_fish_eye</i>
                    </div>
                </mat-icon>
                </span>
                </mat-toolbar-row>
                <div class="points">
                    <span>
                    <strong>
                        入出力装置
                    </strong>
                    </span>
                </div>

                <mat-toolbar-row>
                    <div class="points1">
                        <span>
                            <strong>
                            89,532,643 円
                            </strong>
                        </span>
                    </div>
                </mat-toolbar-row>

                <mat-toolbar-row style="height:55px;">
                    <div class="points2">
                        <span>金融機関ざいせいてききんゆうき</span>
                        <!-- <button mat-button style="height: 30px;" (click)="openDialog()">金融機関ざいせいてききんゆうき</button> -->
                    </div>
                </mat-toolbar-row>


            </div>
        </mat-toolbar>
        <!-- second toolbar design ends -->

        <!-- toolbar design starts for the body -->

        <div class="toolbarSecond" style="background: #ffffff;">

            <!-- 1st toolbar starts -->
            <div class="toolbarsClass">
                <mat-toolbar-row>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency">
                            <!-- <img class="bit-coin-icon" src="./../../../assets/images/lefties.png"> -->
                            <i class="material-icons" style="font-size: 26px;">attach_money</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                    <div class="center1">
                        <strong>入出金</strong>
                    </div>
                    <div class="right1">
                        <strong> 9,461 円</strong>
                    </div>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency1">
                            <i class="material-icons" style="font-size: 26px;">chevron_right</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                </mat-toolbar-row>
            </div>
            <!-- 1st toolbar ends -->

            <!-- 2nd toolbar design starts -->
            <div class="toolbarsClass">
                <mat-toolbar-row>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency">
                            <img class="bit-coin-icon" src="./../../../assets/images/bitcoinlogo.png">
                            <!-- <i class="material-icons" style="font-size: 26px;">attach_money</i> -->
                        </div>
                    </mat-icon>

                </h1>
                </span>
                    <div class="center1">
                        <strong>ビットコイン</strong>
                    </div>
                    <div class="right1">
                        <strong> 1.20520456 BTC</strong>
                    </div>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency1">
                            <i class="material-icons" style="font-size: 26px;">chevron_right</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                </mat-toolbar-row>
            </div>
            <!-- 2nd toolbar design ends -->


            <!-- 3rd toolbar design starts -->
            <div class="toolbarsClass">
                <mat-toolbar-row>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency">
                            <img class="bit-coin-icon" src="./../../../assets/images/dollar-sign-vector.jpg">
                            <!-- <i class="material-icons" style="font-size: 26px;">attach_money</i> -->
                        </div>
                    </mat-icon>

                </h1>
                </span>
                    <div class="center1">
                        <strong>イーサ</strong>
                    </div>
                    <div class="right1">
                        <strong>0 ETH</strong>
                    </div>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency1">
                            <i class="material-icons" style="font-size: 26px;">chevron_right</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                </mat-toolbar-row>
            </div>
            <!-- 3rd toolbar design ends -->



            <!-- 4th toolbar design starts -->
            <div class="toolbarsClass">
                <mat-toolbar-row>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency">
                            <img class="bit-coin-icon" src="./../../../assets/images/litecoin.png">
                            <!-- <i class="material-icons" style="font-size: 26px;">attach_money</i> -->
                        </div>
                    </mat-icon>

                </h1>
                </span>
                    <div class="center1">
                        <strong>イーサクラッシク</strong>
                    </div>
                    <div class="right1">
                        <strong> 0 ETC</strong>
                    </div>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency1">
                            <i class="material-icons" style="font-size: 26px;">chevron_right</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                </mat-toolbar-row>
            </div>
            <!-- 4th toolbar design ends -->




            <!-- 5th toolbar design starts -->
            <div class="toolbarsClass">
                <mat-toolbar-row>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency">
                            <img class="bit-coin-icon" src="./../../../assets/images/rupee.png">
                            <!-- <i class="material-icons" style="font-size: 26px;">attach_money</i> -->
                        </div>
                    </mat-icon>

                </h1>
                </span>
                    <div class="center1">
                        <strong>ライトコイン</strong>
                    </div>
                    <div class="right1">
                        <strong> 0 LTC</strong>
                    </div>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency1">
                            <i class="material-icons" style="font-size: 26px;">chevron_right</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                </mat-toolbar-row>
            </div>
            <!-- 5th toolbar design ends -->



            <!-- 6th toolbar design starts -->
            <div class="toolbarsClass">
                <mat-toolbar-row>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency">
                            <img class="bit-coin-icon" src="./../../../assets/images/bitcoinlogo.png">
                            <!-- <i class="material-icons" style="font-size: 26px;">attach_money</i> -->
                        </div>
                    </mat-icon>

                </h1>
                </span>
                    <div class="center1">
                        <strong>ビットコイン Cash</strong>
                    </div>
                    <div class="right1">
                        <strong> 0 BCH</strong>
                    </div>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency1">
                            <i class="material-icons" style="font-size: 26px;">chevron_right</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                </mat-toolbar-row>
            </div>
            <!-- 6th toolbar design ends -->


            <!-- 7th toolbar design starts -->
            <div class="toolbarsClass">
                <mat-toolbar-row>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency">
                            <!-- <img class="bit-coin-icon" src="./../../../assets/images/lefties.png"> -->
                            <i class="material-icons" style="font-size: 26px;">attach_money</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                    <div class="center1">
                        <strong>モナコイン</strong>
                    </div>
                    <div class="right1">
                        <strong> 21 MONA</strong>
                    </div>
                    <span> <h1 class="bit-coin header">

                    <mat-icon>
                        <div class="currency1">
                            <i class="material-icons" style="font-size: 26px;">chevron_right</i>
                        </div>
                    </mat-icon>

                </h1>
                </span>
                </mat-toolbar-row>
            </div>
            <!-- 7th toolbar design ends -->


        </div>

        <!-- toolbar design ends for the body -->
    </div>
</div>
